DATABASE_URL=
FOOTBALL_DATA_API_KEY=
API_FOOTBALL_KEY=
OPENWEATHER_API_KEY=
GOOGLE_MAPS_API_KEY=
ODDS_API_KEY=

POSTGRES_USER=brasileirao_user
POSTGRES_PASSWORD=changeme
POSTGRES_DB=brasileirao
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
